@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.custom-label {
  @apply text-sm font-semibold;
}

.custom-input {
  @apply rounded py-1 px-3 w-full border-1 text-sm border-textboxBorder;
}
.custom-input-icon {
  @apply custom-input;
  padding-right: 2rem;
}
.custom-input:focus {
  @apply outline-none border-2 border-primary;
}
.primary-btn {
  @apply rounded py-2 px-3 w-full bg-primaryBtn text-white text-sm;
}
.primary-btn-fit {
  @apply rounded py-1 px-2 bg-primaryBtn text-white text-sm;
}
::-ms-reveal {
  display: none;
}
